* {margin:0; padding:0; box-sizing: border-box} 

header li{
    margin-top:6px;
}

.main-header{
    position:fixed;
    top:0;
    left:0;
    z-index:2;
    height:70px;
    background-color:#111111;
    width:100%; 
    border-bottom:1px solid #595959;
}

.main-header ul{
    display:flex;
    justify-content:space-around;
    align-items:center;
    color:white;
    font-family:'Aldrich';
    font-size:2.5em;
    list-style-type:none;
    margin-top:5px;
}

.main-header a{
    text-decoration:none;
}

.main-header a:link{
    color:white;
}

.main-header a:visited{
    color:white;
}

.main-header a:hover{
    color:#CDA5A5;
}

.main-header a:active{
    color:#CDA5A5;
}

.main-header a.lastclicked{
    color:#CDA5A5;
}

@media(max-width:943px){
    .main-header{
        position:static;
        margin-top:-15px;
    }

    .main-header li{
        margin-top:15px;
    }

    .main-header li:nth-child(2), li:nth-child(3), li:nth-child(4){
        display:none;
    }
}

.demo, .portfolio{
    height:100vh;
    background-color:#595959;
}

@media(max-width:1200px){
    .demo{
        height:auto;
    }
}

@media(max-width:943px){
    .portfolio{
        height:auto;
    }
}

.yt-video{
    max-width:1650px;
    margin:0 auto;
    background-color:#595959;
    padding:100px 40px 40px 40px;
}


@media(max-width:943px){
    .yt-video{
        padding:20px;
    }
}

iframe{
    width:1650px;
    height:700px;
}

.about, .contact{
    height:100vh;
    background-color:#2E2E2E;
}

@media(max-width:943px){
    .about{
        height:auto;
    }

    .contact{
        height:auto;
    }
}

.about-header, .portfolio-header, .contact-header{
    height:50px;
    background-color:#111111;
    width:100%; 
}

.about li:first-child{
    display:none;
}

.about-header ul, .portfolio-header ul, .contact-header ul{
    display:flex;
    justify-content:center;
    gap:1rem;
    color:white;
    font-family:'Aldrich';
    font-size:2em;
    list-style-type:none;
}

.header-length{
    scroll-margin:71px;
}

@media(max-width:943px){
    .about li:nth-child(2), li:nth-child(3), li:nth-child(4), li:nth-child(5), li:nth-child(6){
        display:none;
    }

    .about li:first-child{
        display:block;
    }
}

.about-info, .contact-info{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:1rem;
    height:90%;
    text-align:center;
}

@media(max-width:943px){
    .about-info{
        flex-direction:column;
    }
}

.bio p{
    font-family:'Aldrich';
    font-size:30px;
    text-align:center;
    line-height:1.4;
    color:white;
    height:auto;
    width:100%;
    padding:20px;
}

@media(max-width:1280px){
    .bio p{
        font-size:25px;
    }
}

@media(max-width:500px){
    .bio p{
        font-size:20px;
    }
}

.portrait img{
    display:block;
    margin:0 auto;
    min-width:200px;
    max-width:70%;
    height:auto;
    border-radius:50%;
    padding-top:20px;
}

.three-thumbnails div{
    width:403px;
    padding:20px;
}

.three-thumbnails{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:5rem;
    height:90%;
    text-align:center;
    padding:20px;
}

.three-thumbnails figure{
    display:table;
}

.three-thumbnails figcaption{
    display:table-caption;
    caption-side:top;
    text-align:center;
    font-family:'Aldrich';
    font-size:30px;
    padding-bottom:5px;
}

@media(max-width:1110px){
    .three-thumbnails figcaption{
        font-size:25px;
    }
}

@media(max-width:1000px){
    .three-thumbnails figcaption{
        font-size:20px;
    }
}

@media(max-width:943px){
    .three-thumbnails figcaption{
        font-size:30px;
    }
}

@media(max-width:410px){
    .three-thumbnails figcaption{
        font-size:20px;
    }
}

@media(max-width:943px){
    .three-thumbnails{
        flex-direction:column;
        gap:0;
    }
}

.three-thumbnails img{
    width:100%;
    height:100%;
}

@media(max-width:410px){
    .three-thumbnails div{
        width:260px;
    }
}

.three-thumbnails figcaption a, .back-header a, .animation-work a, .misc-work a, .contact-info a{
    text-decoration:none;
}

.three-thumbnails figcaption a:link, .back-header a:link, .animation-work a:link, .misc-work a:link, .contact-info a:link{
    color:#CDA5A5;
}

.three-thumbnails figcaption a:visited, .back-header a:visited, .animation-work a:visited, .misc-work a:visited, .contact-info a:visited{
    color:#CDA5A5;
}

.three-thumbnails figcaption a:hover, .back-header a:hover, .animation-work a:hover, .misc-work a:hover, .contact-info a:hover{
    text-decoration:underline;
}

.three-thumbnails figcaption a:active, .back-header a:active, .animation-work:active, .misc-work:active, .contact-info a:active{
    color:#CDA5A5;
}

#animation::before, #modeling::before, #misc::before{
    content:"";
    display:inline-block;
    width:40px;
    height:40px;
    margin-right:10px;
    background:url('../img/arrow-right.svg') no-repeat;
    background-size:contain;
    vertical-align: middle;
}

@media(max-width:1110px){
    #animation::before, #modeling::before, #misc::before{
        width:35px;
        height:35px;
    }
}

@media(max-width:1000px){
    #animation::before, #modeling::before, #misc::before{
        width:30px;
        height:30px;
    }
}

@media(max-width:943px){
    #animation::before, #modeling::before, #misc::before{
        width:40px;
        height:40px;
    }
}

@media(max-width:410px){
    #animation::before, #modeling::before, #misc::before{
        width:30px;
        height:30px;
    }
}

.back-header{
    position:sticky;
    top:0;
    z-index:2;
    height:50px;
    background-color:#111111;
    width:100%; 
    border-bottom:1px solid #595959;
}

.back-header ul{
    display:flex;
    color:white;
    font-family:'Aldrich';
    font-size:30px;
    list-style-type:none;
}

@media(max-width:380px){
    .back-header ul{
        font-size:25px;
    }
}

@media(max-width:380px){
    .back-header li{
        margin-top:10px;
    }
}

@media(max-width:330px){
    .back-header ul{
        font-size:20px;
    }
}

#back-arrow::before{
    content:"";
    display:inline-block;
    width:40px;
    height:40px;
    margin:0 10px 0 10px;
    background:url('../img/arrow-left.svg') no-repeat;
    background-size:contain;
    vertical-align: middle;
}

@media(max-width:380px){
    #back-arrow::before{
        width:35px;
        height:35px;
    }
}

@media(max-width:330px){
    #back-arrow::before{
        width:30px;
        height:30px;
    }
}

.animation-gallery, .modeling-gallery, .misc-gallery{
    text-align:center;
    height:100%;
}

.animation-gallery h1, .modeling-gallery h1, .misc-gallery h1{
    font-family:'Aldrich';
    font-size:45px;
    text-align:center;
    padding:20px 0 20px 0;
}

@media(max-width:520px){
    .animation-gallery h1, .modeling-gallery h1, .misc-gallery h1{
        font-size:35px;
    }
}

@media(max-width:405px){
    .animation-gallery h1, .modeling-gallery h1, .misc-gallery h1{
        font-size:30px;
    }
}

@media(max-width:340px){
    .animation-gallery h1, .modeling-gallery h1, .misc-gallery h1{
        font-size:25px;
    }
}

.animation-gallery hr, .modeling-gallery hr, .misc-gallery hr{
    display:block;
    width:50%;
    margin:0 auto;
    border:2px solid black;
}

.animation-work figure, .modeling-work figure, .misc-work figure{
    width:500px;
    padding:20px;
}

.animation-work img, .modeling-work img, .misc-work img{
    width:100%;
    height:100%;
}

.animation-work, .modeling-work, .misc-work{
    width:90%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    margin:0 auto;
}

.animation-work figcaption, .misc-work figcaption{
    font-family:'Aldrich';
    font-size:20px;
    padding:10px 0 10px 0;
}

.animation-work figcaption:nth-child(2)::before, .misc-work figcaption:nth-child(2)::before{
    content:"";
    display:inline-block;
    width:25px;
    height:25px;
    margin-right:5px;
    background:url('../img/arrow-right.svg') no-repeat;
    background-size:contain;
    vertical-align: middle;
}

.contact-info p{
    font-family:'Aldrich';
    font-size:30px;
    text-align:center;
    line-height:1.4;
    color:white;
    height:auto;
    width:100%;
    padding:20px;
}

@media(max-width:450px){
    .contact-info p, .contact-info a{
        font-size:20px;
    }
}

@media(max-width:310px){
    .contact-info a{
        font-size:15px;
    }
}