/* {margin:0; padding:0; box-sizing: border-box}

html{
    scroll-behavior:smooth;
}

body{
    background-color:#595959;
}

header{
    background-color:#111111;
    height:70px;
}

.main header ul, .portfolio ul, .contact ul{
    display:flex;
    justify-content:space-around;
    font-family:'Aldrich';
    font-size:2.5rem;
    list-style-type:none;
    color:white;
}

.main{
    position:sticky;
    top:0;
    z-index:1;
}

header li{
    margin-top:13px;
}

header a, figcaption a{
    text-decoration:none;
}

header a:visited{
    color:white;
}

header a:hover{
    color:#CDA5A5;
}

header a:active{
    color:#CDA5A5;
}

header a.lastclicked{
    color:#CDA5A5;
}

figcaption a{
    color:#CDA5A5;
}

figcaption a:hover{
    color:#CDA5A5;
    text-decoration:underline; 
}

main .three-thumbnails{
    display:flex;
    justify-content:center;
    gap:5rem;
    padding:140px 10px 200px 10px;
}

.three-thumbnails img{
    margin-top:30px;
    box-shadow: 4px 3px 18px -3px rgba(0,0,0,0.75);
}

figure{
    display:table;
}

.three-thumbnails figcaption{
    display:table-caption;
    caption-side:top;
    text-align:center;
    font-family:'Aldrich';
    font-size:35px;
}
#animation::before{
    content:"";
    display:inline-block;
    width:45px;
    height:45px;
    margin-right:10px;
    background:url('../img/arrow-right.svg') no-repeat;
    background-size:contain;
    vertical-align: middle;
}

#modeling::before{
    content:"";
    display:inline-block;
    width:45px;
    height:45px;
    margin-right:10px;
    background:url('../img/arrow-right.svg') no-repeat;
    background-size:contain;
    vertical-align: middle;
}

#misc::before{
    content:"";
    display:inline-block;
    width:45px;
    height:45px;
    margin-right:10px;
    background:url('../img/arrow-right.svg') no-repeat;
    background-size:contain;
    vertical-align: middle;
}

.a-length{
    scroll-margin:72px;
}

.about{
    background-color:#2E2E2E;
}

.about ul{
    font-family:'Aldrich';
    font-size:2.5rem;
    list-style-type:none;
    color:white;
    display:flex;
    gap:1rem;
    justify-content:center;
}

.about li:first-child{
    display:none;
}

.info{
    display:flex;
    justify-content:center;
    padding:120px 0px 200px 10px;
}

.info p{
    font-family:'Aldrich';
    font-size:35px;
    text-align:center;
    line-height:1.4;
    color:white;
    margin-top: 40px;
}

.info img{
    display:block;
    margin:0 auto;
    min-width:450px;
    max-width:80%;
    height:auto;
}

.contact{
    background-color:#2E2E2E;
    height:100vh;
}

.contact p{
    font-family:'Aldrich';
    font-size:40px;
    text-align:center;
    line-height:1.4;
    color:white;
    margin: 0 auto;
    width:50%;
    padding-top:200px;
}

.contact a:link{
    display:flex;
    justify-content:center;
    color:#CDA5A5;
}

.yt-video{
    max-width:1650px;
    margin:0 auto;
    background-color:#595959;
    padding:40px;
}

.back header li{
    margin-top:15px;
}

.back ul{
    display:flex;
    justify-content:flex-start;
    font-family:'Aldrich';
    font-size:2rem;
    list-style-type:none;
    padding-left:20px;
}

#back-arrow::before{
    content:"";
    display:inline-block;
    width:45px;
    height:45px;
    margin-right:10px;
    background:url('../img/arrow-left.svg') no-repeat;
    background-size:contain;
    vertical-align: middle;
}

.back ul a{
    color:#CDA5A5;
}

.back ul a:hover{
    text-decoration:underline;
}

.back{
    position:sticky;
    top:0;
    z-index:1;
}

.modeling, .animation, .misc{
    grid-gap:5px;
    text-align:center;
    max-width:80%;
    min-width:450px;
    height:auto;
    margin:0 auto;
}

.modeling h1, .animation h1{
    width:40%;
    margin:0 auto;
    font-family:'Aldrich';
    font-size:45px;
    text-align:center;
    padding:30px 0 20px 0;
    border-bottom:4px solid black;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 1);
}

.misc h1{
    width:55%;
    margin:0 auto;
    font-family:'Aldrich';
    font-size:45px;
    text-align:center;
    padding:30px 0 20px 0;
    border-bottom:4px solid black;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 1);
}

.modeling img{
    padding:10px 20px 0 20px;
    margin-top:30px;
    min-width:450px;
    max-width:33%;
    height:auto;
}

.animation img, .misc img{
    padding-top:10px;
    margin-top:30px;
    min-width:450px;
    max-width:33%;
    height:auto;
}

.animation figure, .misc figure{
    display:inline-block;
    min-width:450px;
    max-width:33%;
    height:auto;
}

.animation-work figure a, .misc figure a{
    font-family:'Aldrich';
    color:#CDA5A5;
    font-size:20px;
    text-decoration:none;
}

.animation-work figure a:hover{
    text-decoration:underline;
}

.misc figure a:hover{
    text-decoration:underline;
}

.animation-work figcaption, .misc figcaption{
    padding-top:10px;
}
.animation-work figcaption::before{
    content:"";
    display:inline-block;
    width:25px;
    height:25px;
    margin-right:5px;
    background:url('../img/arrow-right.svg') no-repeat;
    background-size:contain;
    vertical-align: middle;
}

.misc-work figcaption::before{
    content:"";
    display:inline-block;
    width:25px;
    height:25px;
    margin-right:5px;
    background:url('../img/arrow-right.svg') no-repeat;
    background-size:contain;
    vertical-align: middle;
}

footer{
    height:70px;
}*/

* {margin:0; padding:0; box-sizing: border-box}

html{
    scroll-behavior:smooth;
}

body{
    background-color:#595959;
}

header{
    background-color:#111111;
    height:70px;
}

.main header ul, .portfolio ul, .contact ul{
    display:flex;
    justify-content:space-around;
    font-family:'Aldrich';
    font-size:2.5rem;
    list-style-type:none;
    color:white;
}

.main{
    position:sticky;
    top:0;
    z-index:1;
    height:100%
}

header li{
    margin-top:13px;
}

header a, figcaption a{
    text-decoration:none;
}

header a:visited{
    color:white;
}

header a:hover{
    color:#CDA5A5;
}

header a:active{
    color:#CDA5A5;
}

header a.lastclicked{
    color:#CDA5A5;
}

figcaption a{
    color:#CDA5A5;
}

figcaption a:hover{
    color:#CDA5A5;
    text-decoration:underline; 
}

main .three-thumbnails{
    display:flex;
    justify-content:center;
    gap:5rem;
    padding:140px 10px 200px 10px;
}

.three-thumbnails img{
    margin-top:30px;
    box-shadow: 4px 3px 18px -3px rgba(0,0,0,0.75);
}

figure{
    display:table;
}

.three-thumbnails figcaption{
    display:table-caption;
    caption-side:top;
    text-align:center;
    font-family:'Aldrich';
    font-size:35px;
}
#animation::before{
    content:"";
    display:inline-block;
    width:45px;
    height:45px;
    margin-right:10px;
    background:url('../img/arrow-right.svg') no-repeat;
    background-size:contain;
    vertical-align: middle;
}

#modeling::before{
    content:"";
    display:inline-block;
    width:45px;
    height:45px;
    margin-right:10px;
    background:url('../img/arrow-right.svg') no-repeat;
    background-size:contain;
    vertical-align: middle;
}

#misc::before{
    content:"";
    display:inline-block;
    width:45px;
    height:45px;
    margin-right:10px;
    background:url('../img/arrow-right.svg') no-repeat;
    background-size:contain;
    vertical-align: middle;
}

.a-length{
    scroll-margin:72px;
}

.about{
    background-color:#2E2E2E;
    height:100%;
}

.about ul{
    font-family:'Aldrich';
    font-size:2.5rem;
    list-style-type:none;
    color:white;
    display:flex;
    gap:1rem;
    justify-content:center;
}

.about li:first-child{
    display:none;
}

.info{
    display:flex;
    justify-content:center;
    padding:120px 0px 200px 10px;
    margin:0 auto;
}

.info p{
    font-family:'Aldrich';
    font-size:35px;
    text-align:center;
    line-height:1.4;
    color:white;
    margin-top: 40px;
}

.info img{
    display:block;
    margin:0 auto;
    min-width:450px;
    max-width:80%;
    height:auto;
}

.three-thumbnails{
    height:100%;
}

.contact{
    background-color:#2E2E2E;
    height:100%;
}

.contact p{
    font-family:'Aldrich';
    font-size:5vh;
    text-align:center;
    line-height:1.4;
    color:white;
    margin: 0 auto;
    width:100%;
    padding-top:200px;
}

.contact a:link{
    display:flex;
    justify-content:center;
    color:#CDA5A5;
}

.yt-video{
    max-width:1650px;
    margin:0 auto;
    background-color:#595959;
    padding:40px;
    height:100vh;
}

.back header li{
    margin-top:15px;
}

.back ul{
    display:flex;
    justify-content:flex-start;
    font-family:'Aldrich';
    font-size:2rem;
    list-style-type:none;
    padding-left:20px;
}

#back-arrow::before{
    content:"";
    display:inline-block;
    width:45px;
    height:45px;
    margin-right:10px;
    background:url('../img/arrow-left.svg') no-repeat;
    background-size:contain;
    vertical-align: middle;
}

.back ul a{
    color:#CDA5A5;
}

.back ul a:hover{
    text-decoration:underline;
}

.back{
    position:sticky;
    top:0;
    z-index:1;
}

.modeling, .animation, .misc{
    text-align:center;
    max-width:80%;
    min-width:450px;
    height:auto;
    margin:0 auto;
}

.modeling h1, .animation h1{
    width:40%;
    margin:0 auto;
    font-family:'Aldrich';
    font-size:45px;
    text-align:center;
    padding:30px 0 20px 0;
    border-bottom:4px solid black;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 1);
}

.misc h1{
    width:55%;
    margin:0 auto;
    font-family:'Aldrich';
    font-size:45px;
    text-align:center;
    padding:30px 0 20px 0;
    border-bottom:4px solid black;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 1);
}

.animation img, .misc img{
    margin-top:5px;
    min-width:450px;
    max-width:33%;
    height:auto;
}

.modeling img{
    margin-bottom:20px;
    min-width:450px;
    max-width:33%;
    height:auto;
}

.modeling figure, .animation figure, .misc figure{
    display:inline-block;
    min-width:450px;
    max-width:33%;
    height:auto;
}

.animation-work figure a, .misc figure a{
    font-family:'Aldrich';
    color:#CDA5A5;
    font-size:20px;
    text-decoration:none;
}

.animation-work figure a:hover{
    text-decoration:underline;
}

.misc figure a:hover{
    text-decoration:underline;
}

.modeling-work figcaption{
    font-family:'Aldrich';
    font-size:20px;
    padding-top:50px;
    margin-top:15px;

}

.misc-work figcaption:nth-child(2){
    margin:15px 0 20px 0;
}

.animation figcaption:nth-child(2){
    margin:15px 0 20px 0;
}

.animation-work figcaption:nth-child(2)::before{
    content:"";
    display:inline-block;
    width:25px;
    height:25px;
    margin-right:5px;
    background:url('../img/arrow-right.svg') no-repeat;
    background-size:contain;
    vertical-align: middle;
}

.misc-work figcaption:nth-child(2)::before{
    content:"";
    display:inline-block;
    width:25px;
    height:25px;
    margin-right:5px;
    background:url('../img/arrow-right.svg') no-repeat;
    background-size:contain;
    vertical-align: middle;
}

.misc-work figcaption:first-child, .animation figcaption:first-child{
    font-family:'Aldrich';
    font-size:20px;
    padding-top:50px;
}

footer{
    height:70px;
}

@media(max-width:845px){
    header li:nth-child(2), li:nth-child(3), li:nth-child(4){
        display:none;
    }

    main .main{
       position:static;
    }

    .about li:nth-child(2), li:nth-child(3), li:nth-child(4), li:nth-child(5), li:nth-child(6){
        display:none;
    }

    .about li:first-child{
        display:block;
    }

    main .info{
        flex-direction:column;
    }

    main .info p{
        margin-left:0;
    }

    .contact{
        background-color:#2E2E2E;
    }
    
    .contact p{
        padding-top:100px;
    }
}

@media(max-width:1220px){
    main .info{
        flex-direction:column;
        padding:70px 10px 70px 10px;
    }

    main .info p{
        margin-left:0;
    }

    main .three-thumbnails{
        flex-direction:column;
        text-align:center;
    }

}
    




@media(max-width:845px){
    header li:nth-child(2), li:nth-child(3), li:nth-child(4){
        display:none;
    }

    main .main{
       position:static;
    }

    .about li:nth-child(2), li:nth-child(3), li:nth-child(4), li:nth-child(5), li:nth-child(6){
        display:none;
    }

    .about li:first-child{
        display:block;
    }

    main .info{
        flex-direction:column;
    }

    main .info p{
        margin-left:0;
    }

    .contact{
        background-color:#2E2E2E;
    }
    
    .contact p{
        padding-top:100px;
    }
}

@media(max-width:1220px){
    main .info{
        flex-direction:column;
        padding:70px 10px 70px 10px;
    }

    main .info p{
        margin-left:0;
    }

    main .three-thumbnails{
        flex-direction:column;
        text-align:center;
    }

}/
    


